body{
    background-color:#ecf0fa;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width : 767px){
.container{margin: 0 10%;}
}